.dashboard-business {
  background-color: #fff;
  .card-dashboard {
    padding-top: 24px;
    padding-bottom: 24px;

    border: 1px solid #eee;
  }
  h4 {
    margin-top: 24px;
    margin-bottom: 32px;
  }
}
